<div class="form-floating">
  <select (change)="optionChanged(selector.value)" #selector id="selector" class="form-select form-select mb-3" style="width: 22%;" aria-label=".form-select-lg example">
    <option value="smartphone">Smartphone</option>
    <option value="tablet">Tablet</option>
    <option value="videogame">Videojuego</option>
    <option value="console">Consola</option>
  </select>
  <label for="selector">Selecciona una..</label>
</div>

<label>
  <form>

    <label for="nameInput" class="col-form-label">Nombre</label>
    <input type="text" id="nameInput" class="form-control">

    <label for="brandInput" class="col-form-label">Marca</label>
    <input type="text" id="brandInput" class="form-control">

    <!-- DISTINTOS DIVS PARA DISTINTOS TIPOS DE DATOS -->
    <!-- smartphone -->
    <div *ngIf="smartphoneSelected">

      <label for="storageInputS" class="col-form-label">Capacidad</label>
      <div class="input-group">
        <input type="text" id="storageInputS" class="form-control">
        <span class="input-group-text">GB</span>
      </div>

      <label for="ramInputS" class="col-form-label">RAM</label>
      <div class="input-group">
        <input type="text" id="ramInputS" class="form-control">
        <span class="input-group-text">GB</span>
      </div>

    </div>

    <!-- tablet -->
    <div *ngIf="tabletSelected">

    </div>

    <!-- console -->
    <div *ngIf="consoleSelected">

    </div>

    <!-- videogame -->
    <div *ngIf="videogameSelected">

    </div>


  </form>
</label>

<!--
  {
  id: 0,
  name: '',
  stock_sale: 0,
  stock_rent: null,
  brand: '',
  type: 'smartphone',
  price: 0,
  discount: 0.0,
  images: [
    {
      id_image: 0,
      name: '',
      path: ''
    },
  ],
  info: {
    id_smartphone: 0,
    storage: '',
    ram: '',
    inches: 0.0,
    battery: 0,
    camera: 0.0,
    sd: false,
    color: ''
  }
}
-->
