<div class="form-floating">
  <select (change)="optionChanged(selector.value)" #selector id="selector" class="form-select form-select mb-3" style="width: 22%;" aria-label=".form-select-lg example">
    <option value="smartphone">Smartphone</option>
    <option value="tablet">Tablet</option>
    <option value="videogame">Videojuego</option>
    <option value="console">Consola</option>
  </select>
  <label for="selector">Selecciona una..</label>
</div>

<label>
  <form>

    <label for="nameInput" class="col-form-label">Nombre</label>
    <input type="text" id="nameInput" class="form-control">

    <label for="brandInput" class="col-form-label">Marca</label>
    <input type="text" id="brandInput" class="form-control">

    <!-- DISTINTOS DIVS PARA DISTINTOS TIPOS DE DATOS -->
    <!-- smartphone -->
    <div *ngIf="smartphoneSelected">
      <label for="storageInputS" class="col-form-label">Capacidad</label>
      <div class="input-group">
        <input type="number" id="storageInputS" class="form-control">
        <span class="input-group-text">GB</span>
      </div>

      <label for="ramInputS" class="col-form-label">RAM</label>
      <div class="input-group">
        <input type="number" id="ramInputS" class="form-control">
        <span class="input-group-text">GB</span>
      </div>

      <label for="inchesInputS" class="col-form-label">Tamaño</label>
      <div class="input-group">
        <input type="text" id="inchesInputS" class="form-control">
        <span class="input-group-text">"</span>
      </div>

      <label for="batteryInputS" class="col-form-label">Batería</label>
      <div class="input-group">
        <input type="number" id="batteryInputS" class="form-control">
        <span class="input-group-text">mAH</span>
      </div>

      <label for="cameraInputS" class="col-form-label">Cámara</label>
      <div class="input-group">
        <input type="text" id="cameraInputS" class="form-control">
        <span class="input-group-text">Mpx</span>
      </div>

      <div class="form-check"style="margin-top: 10px;" >
        <input class="form-check-input" type="checkbox" value="" id="sdInputS">
        <label class="form-check-label user-select-none" for="sdInputS">SD</label>
      </div>

      <label for="colorInputS" class="col-form-label">Color</label>
      <input type="text" id="colorInputS" class="form-control">
    </div>

    <!-- tablet -->
    <div *ngIf="tabletSelected">
      <label for="storageInputT" class="col-form-label">Capacidad</label>
      <div class="input-group">
        <input type="number" id="storageInputT" class="form-control">
        <span class="input-group-text">GB</span>
      </div>

      <label for="ramInputT" class="col-form-label">RAM</label>
      <div class="input-group">
        <input type="number" id="ramInputT" class="form-control">
        <span class="input-group-text">GB</span>
      </div>

      <label for="inchesInputT" class="col-form-label">Tamaño</label>
      <div class="input-group">
        <input type="text" id="inchesInputT" class="form-control">
        <span class="input-group-text">"</span>
      </div>

      <label for="batteryInputT" class="col-form-label">Batería</label>
      <div class="input-group">
        <input type="number" id="batteryInputT" class="form-control">
        <span class="input-group-text">mAH</span>
      </div>

      <label for="cameraInputT" class="col-form-label">Cámara</label>
      <div class="input-group">
        <input type="text" id="cameraInputT" class="form-control">
        <span class="input-group-text">Mpx</span>
      </div>

      <div class="form-check"style="margin-top: 10px;" >
        <input class="form-check-input" type="checkbox" value="" id="sdInputT">
        <label class="form-check-label user-select-none" for="sdInputT">SD</label>
      </div>

      <label for="colorInputT" class="col-form-label">Color</label>
      <input type="text" id="colorInputT" class="form-control">
    </div>

    <!-- console -->
    <div *ngIf="consoleSelected">

    </div>

    <!-- videogame -->
    <div *ngIf="videogameSelected">
      <input type="date">
    </div>


  </form>
</label>

<!--
{
  id: 0,
  name: '',
  stock_sale: 0,
  stock_rent: null,
  brand: '',
  type: 'videogame',
  price: 0,
  discount: 0.0,
  images: [
    {
      id_image: 0,
      name: '',
      path: ''
    },
  ],
  info: {
    id_videojuego: 0,
    realease_date: 0/0/0,
    pegi: 0,
    platform: '',
    genere: '',
    developer: ''
  }
}
-->
