<select (change)="optionChanged(selector.value)" #selector class="form-select form-select-lg mb-3" style="width: 20%;" aria-label=".form-select-lg example" id="cb">
  <!--<option selected value="all">Todos los productos</option>-->
  <option value="smartphone" selected>Smartphone</option>
  <option value="tablet">Tablet</option>
  <option value="console">Consola</option>
  <option value="videogame">Videojuego</option>
</select>

<button (click)="selectType()" class="btn btn-outline-primary" id="btn">Añadir Producto</button>
<button class="btn btn-outline-secondary" id="btn">Productos Archivados</button>
<table class="table table-striped table-bordered table-sm"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >

</table>
