<nav class="site-header sticky-top py-1 bg-dark">
  <div class="container d-flex flex-column flex-md-row justify-content-between" *ngIf="isSessionStarted() else elseBlock">
    <a class="py-2" href="#">
      AlmiShop
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#" >Tour</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="products" >Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#" >Enterprise</a>
    <a class="py-2 d-none d-md-inline-block" href="#" >Support</a>
    <a class="py-2 d-none d-md-inline-block" href="#" >Pricing</a>
    <a role="button" class="py-2 d-none d-md-inline-block" (click)="logOut()">Cerrar Sesión</a>
  </div>
  <ng-template class="container d-flex flex-column flex-md-row justify-content-between" #elseBlock>
    <a class="py-2" href="#">
      AlmiShop
    </a>
  </ng-template>
</nav>
