<nav class="site-header sticky-top py-1 bg-dark">
  <div class="container d-flex flex-column flex-md-row justify-content-between" *ngIf="isSessionStarted() else elseBlock">
    <a routerLink="home">
      <img src="assets/img/almicuadrado.png" style="height: 35px; margin-top: 5px;">
    </a>
    <a class="py-2 d-none d-md-inline-block" routerLink="products" >Productos</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="users">Usuarios</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="" >Enterprise</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="" >Support</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="" >Pricing</a>
    <a role="button" class="py-2 d-none d-md-inline-block" (click)="logOut()">Cerrar Sesión</a>
  </div>
  <ng-template class="container d-flex flex-column flex-md-row justify-content-between" #elseBlock>
    <a routerLink="home">
      <img src="assets/img/almicuadrado.png" style="height: 35px; margin-top: 5px;">
    </a>
  </ng-template>
</nav>
