<div class="wrapper fadeInDown">
    <div id="formContent">
      <form  (submit)="onSubmit()">
        <input [(ngModel)]="user" type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" (keydown.enter)="onSubmit()">
        <input [(ngModel)]="password" type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña" (keydown.enter)="onSubmit()">
        <button type="button" id="button" class="fadeIn fourth btn btn-primary" (click)="onSubmit()">Acceder</button>
      </form>


    </div>
  </div>
